@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-base-300 text-gray-100 pt-20;

    @screen 2xl {
        @apply pt-0;
    }

}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #23314D #0E131E;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #0E131E;
}

*::-webkit-scrollbar-thumb {
    background-color: #23314D;
    border-radius: 10px;
    border: 3px solid #0E131E;
}


#menu {
    @apply text-sm font-semibold;

    &>ul {
        @apply flex flex-col gap-1;
    }

    li {

        &>a,
        &>span {
            @apply flex w-full py-2 px-3 cursor-pointer whitespace-nowrap items-center justify-between bg-primary text-primary-content rounded gap-2;
        }

        &>a {
            @apply block truncate;
        }
    }

    ul ul li>a,
    ul ul li>span {
        @apply bg-base-100;
    }

    ul ul ul li>a,
    ul ul ul li>span {
        @apply bg-base-200;
    }

    ul ul ul ul li>a,
    ul ul ul ul li>span {
        @apply bg-base-300;
    }

    ul ul {
        @apply hidden;
    }

    li.active>ul {
        @apply flex flex-col gap-1 mt-1;
    }

    .router-link-active {
        @apply text-white;
    }
}

#post {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    .wp-block-image {
        margin-bottom: 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }

    h5 {
        @apply text-xl;
    }

    h6 {
        @apply text-lg;
    }

    ul {}

    .wp-block-image {
        img {
            @apply w-full rounded;
        }
    }
}