@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-800 text-slate-100 pt-20;

    @screen 2xl {
        @apply pt-0;
    }

}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: rgb(51 65 85) rgb(15 23 42);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: rgb(15 23 42);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(51 65 85);
    border-radius: 10px;
    border: 3px solid rgb(15 23 42);
}


#menu {
    @apply text-sm font-semibold;
}

#menu>ul {
    @apply flex flex-col gap-1;
}

#menu li>a,
#menu li>span {
    @apply flex w-full py-2 px-3 cursor-pointer whitespace-nowrap items-center justify-between bg-slate-700 rounded gap-2;
}

#menu li>a {
    @apply block truncate;
}

#menu ul ul li>a,
#menu ul ul li>span {
    @apply bg-slate-600;
}

#menu ul ul ul li>a,
#menu ul ul ul li>span {
    @apply bg-slate-500;
}

#menu ul ul ul ul li>a,
#menu ul ul ul ul li>span {
    @apply bg-slate-400;
}

#menu ul ul {
    @apply hidden;
}

#menu li.active>ul {
    @apply flex flex-col gap-1 mt-1;
}

#post {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    .wp-block-image {
        margin-bottom: 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-6xl;
    }

    h2 {
        @apply text-5xl;
    }

    h3 {
        @apply text-4xl;
    }

    h4 {
        @apply text-3xl;
    }

    h5 {
        @apply text-2xl;
    }

    h6 {
        @apply text-xl;
    }

    .wp-block-image {
        img {
            @apply w-full rounded;
        }
    }
}